/*------------------------------
  PATRONES DE COLORES
  -----------------------------*/
  $principal: #00ad75;
  $secundario: #35363c;
  $texto: #696969;
  $oscuro:#999;

  /*------------------------------
  1. TIPOGRAFIA DEL SITIO
  -----------------------------*/

  html{
  	font-size: 14px;
  }

  body{
  	font-family: 'Lato', sans-serif;
  	color: $texto;
  }
   img{
      width: 12rem;
      height: auto;
    }

  /*------------------------------
   2. ESTILOS GENERALES DE BOTONES
  -------------------------------*/
  .btn{
    border-radius: 2rem;
    padding: .6rem 2rem;
    font-weight: bold;
  }

  /*------------------------------
   3. ESTILOS COLOR PRINCIPAL
  -------------------------------*/
  .bg-primary{
    background-color: $principal !important;
  }

  .text-primary{
    color: $principal !important;
  }

  /*Estilos btn-primary*/
  .btn-primary {
    color: #fff;
    background-color: $principal;
    border-color: $principal;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .5s ease;
  }

  .btn-primary:hover {
    color: $secundario;
    background-color: #fff;
    border-color: $principal;
  }

  .btn-primary:active{
    color: $secundario !important;
    background-color: lighten($principal,5%) !important;
    border-color:lighten($principal,8%) !important;
  }

  .btn-primary:focus {
    color: $secundario !important;
    box-shadow: 0 0 0 0.2rem rgba($principal,.5)!important;
  }

  /*Insertamos la flecha del boton principal*/
  .btn-primary:after{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f138";
    position: relative;
    left: .6rem;
    top: .1rem;
    transform: left .3s ease;
  }

  .btn-primary:hover:after,
  .btn-primary:focus:after,
  .btn-primary:active:after,{
    left: .25rem;
  }

  /*Insertamos la caja blanca del boton principal*/
  .btn-primary:before{
    content: "";
    z-index: -1;
    width: 0px;
    height: 100%;
    background: #fff;
    position: absolute;
    left: 50%;
    top: 0%;
    transform: skew(45deg, 0deg);
    transition: all .4s ease;
  }

  .btn-primary:hover:before,
  .btn-primary:focus:before,
  .btn-primary:active:before{
    width: 130%;
    left: -15%;
  }

  /*------------------------------
   4. ESTILOS COLOR SECUNDARIO
  -------------------------------*/
  .bg-secondary{
    background-color: $secundario !important;
  }

  .text-secondary{
    color: $secundario !important;
  }

  /*------------------------------
   5. ESTILOS .redes-sociales
  -------------------------------*/
  .redes-sociales li a i{
    color: #fff; 
    font-size: 1.5rem;
    padding: .6rem 1rem;
    opacity: .8;
    transition: all .3s ease-in-out;   
  }

  .redes-sociales li a i:hover{
    opacity: 1;   
    transform: scale(1.3) rotate(360deg);
  }

  /*--------------------------------
  5.1 ESTILOS SISTEMAS ENLCAES
  --------------------------------*/
  /*Boton*/
  #boton-inicio .btn-primary:hover{
    background-color: $principal;
    text-decoration-color: red;
  }
  #ilogo a{
  text-decoration: none;
  color: $secundario;
  }

  /*------------------------------
   6. ESTILOS "#menu-navegacion   "
  -------------------------------*/
  /*Quitamos estilos al boton por defecto*/
  #menu-navegacion .navbar-toggler{
    padding: 0;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: 0;
  }

   /*Estilos boton menu personalizado*/
   #menu-navegacion .boton-menu:before{
    font-family: 'Font Awesome 5 Free'; 
    content: "\f0c9";  
    font-weight: 900;
    font-size: 2rem;
    color: #ffffff;
  }


   /*Estilos boton menu personalizado*/
   #menu-navegacion .icono-cerrar:before{
    content: "\f00d";  
    position: relative;
    left: .2rem
  }


  /*Estilos de los enlaces del menu-navegacion*/
  .navbar-dark .navbar-nav .nav-link {
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    transition: all .3s ease;
  }

  .navbar-dark .navbar-nav .nav-link:after {
    font-family: 'Font Awesome 5 Free'; 
    content: "\f105";  
    font-weight: 900;
    transition: all .3s ease;
  }

  /*Estilos estado hover de enlace*/
  .navbar-dark .navbar-nav .nav-link:hover {
    background-color: lighten($secundario, 10%);
  }

  .navbar-dark .navbar-nav .nav-link:hover:after {
    transform: rotateZ(180deg);
  }

  /*Estilos para el enlace activo*/
  .navbar-dark .navbar-nav .nav-link.active {
   background-color: $principal;
  }
  
  /*Clase cuando la barra de navegacion se fija a la parte superior*/
  .menu-fijo{
    transition: all .5s ease;
    background-color: darken($secundario,10%) !important;
    width: 100% !important;
  }

  /*------------------------------------------
  7.  ESTILOS PARA "ANIMACION"
  ------------------------------------------*/
  .swiper-slide{
    height: 34rem; /*450px*/
    text-align: center;
    color: #fff;
    background-size: cover;
    background-position: center center;
  }

  .swiper-slide::before{
    content: "";
    position: absolute;
    background: black;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
  }

  .swiper-button-prev,
  .swiper-button-next{
    background-image: none;
    background-color: rgba(0, 0, 0, 0.29);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    opacity: .7;
    transition: all .5s ease;
  }

  .swiper-button-prev::before,
  .swiper-button-next:before{
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f060";
  }

  .swiper-button-next:before{
    transform: rotate(180deg);
  }

  /*Estado hover de los botones*/
   .swiper-button-prev:hover,
  .swiper-button-next:hover{
    background-color: rgba(0, 0, 0, 0.46);
    color: $principal;
  }

  /*Estilos para el paginador*/
  .swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
    margin:0 .4rem !important;
  }

  .swiper-pagination-bullet-active {
    background-color: $principal;
  }


   /*------------------------------------------
    8. ESTILOS PARA "#bienvenidos"
    ------------------------------------------*/
    .contenedor-video a{
      background-color: rgba(255,255,255,0.79);
      width: 7rem;
      height: 7rem;
      display: flex;
      border-radius: 50%;
      color: $principal;
      font-size: 2rem;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%); 
      background-clip: padding-box;
      border: 0 solid transparent;
      transition: all .5s ease;
    }

    .contenedor-video a:hover{
      background-color: $principal;
      color: #fff;
      border: 10px solid rgba(255,255,255,0.50);
    }

    .contenedor-video img{
      transition: all .5s ease;
    }

    .contenedor-video:hover img{
      transform: scale(1.2);
    }


  /*------------------------------------------
    9. ESTILOS PARA "te-ayudamos"
  ------------------------------------------*/
    #te-ayudamos{
      position: relative;
      transform: skew(0,6deg);
    }

    #te-ayudamos::before{
      content: "";
      position: absolute;
      background: rgba(0,0,0,0.52);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;      
    }

     #te-ayudamos .container{
      transform: skew(0,-6deg);
    }


   /*------------------------------------------
    10. ESTILOS PARA "premios"
    ------------------------------------------*/
    .contador-linea{
      background-color: $principal;
      width: 4rem;
      height: .4rem;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: all .5s ease;
    }

    #premios .col-6:hover .contador-linea{
     bottom: 1rem;
     transform: translateX(-50%) rotate(180deg);
     background-color: $secundario;
    }


    /*------------------------------------------
    10. ESTILOS PARA "nuestra-app"
    ------------------------------------------*/
    #nuestra-app::before{
      content: "";
      position: absolute;
      background:rgba(0,0,0,0.50);
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }

     /*------------------------------------------
    11. ESTILOS PARA "#contacto"
    ------------------------------------------*/
    #contacto .detalle-rectangulo{
      position: absolute;
      width: 2.5rem;
      height: 2.5rem;
      background: #00ad75;
      left: 50%;
      bottom: 0;
      transform: translate(-50%) translateY(50%) rotate(45deg);
    }

    .input-group-cita{
      margin-bottom:0;
      cursor: pointer;
    }

    /*Personalizando el selector de fecha*/
    .picker__box{
      border:5px solid $principal;
    }

    .picker--focused .picker__day--selected, 
    .picker__day--selected, .picker__day--selected:hover {
      background: $principal;
      color: #fff;
    }

    .picker__day--today:before {
      border-top: .5em solid #ffffff;
    }

    .picker__select--year {
      margin-top: -.5rem;
      padding: 0 .5rem;
      border-radius: .5rem;
    }


    /*Personalizando el selector de hora*/
    .picker--focused .picker__list-item--selected,
    .picker__list-item--selected, 
    .picker__list-item--selected:hover {
      background: $principal;
    }

    .picker__list-item--highlighted, .picker__list-item:hover {
      border-color: darken($principal,10%);
    }

    .picker__list {
      padding: .5rem 0;
    }

    .picker--time .picker__button--clear {
      color: #fff;
      background:#ff520d;
      border-radius: .5rem;
      transition: all .5s ease;
    }

    .picker--time .picker__button--clear:before {
      width: 0;
      border-top:0px solid #e20;
      display: none;
    }




    /*------------------------------------------
    17. ESTILOS PARA "#pie-de-pagina"
    ------------------------------------------*/

    .columna-inclinada::before{
      content: "";
      position: absolute;
      background: $principal;
      top: 0;
      bottom: 0;
      left: -100%;
      right: -100%;
    }

    .enlaces-secundario{
      border-bottom: 1px solid #5d666f;
      box-shadow: 0 1px #212529;
    }

    .enlaces-secundario a{
      padding: 1rem;
      color: white;
      text-decoration: none;
      display: block;
    }


     /*Estilos para internet explorer 11*/
     .ie11 #bienvenidos .contenedor-video img{
      width: 100%;
     }
     .ie11 .navbar-dark .navbar-nav .nav-link::after{
      display: block;
     }



  /*------------------------------------------
    MEDIA QUERY
    ------------------------------------------*/
  @media (min-width:768px) {
  .navbar-dark .navbar-nav .nav-link:after {
    content: "";
  }
  .navbar-dark .navbar-nav .nav-link {
    padding: .7rem 1.2rem;
    border-radius: 1.5rem;
  }   

   #te-ayudamos{
      transform: skew(0,3deg);
    }

    #te-ayudamos .container{
      transform: skew(0,-3deg);
    }
    .columna-inclinada::before{
      left: -300%;
      right: 0%;
      transform: skewX(20deg);
    }
 }

 @media(min-width:990px){
  html{
    font-size: 16px;
  }
  .swiper-slide{
    height: 37.5rem; /*600px/16px*/
  }
 }

 @media(min-width:1200px){
  .swiper-slide{
    height: 44rem; /*700px/16px*/
  }
 }


/*Boton Desplegable*/
.btn-back-to-top {
  display: none;
  position: fixed;
  width: 45px;
  height: 45px;
  bottom: 45px;
  right: 45px;
  background-color: $principal;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 100%;
  transition: all 0.4s;
}
.symbol-btn-back-to-top {
  font-size: 22px;
  color: white;
  line-height: 1em;
}
.btn-back-to-top:hover {
  opacity: 1;
  cursor: pointer;
}

@media (max-width: 576px) {
  .btn-back-to-top {
    bottom: 15px;
    right: 15px;
  }
}



/*Estilos para formulario control caja de texto*/
#caja .form-control{
    height: 3rem;
}


/** Categorias **/
.categoria {
    overflow: hidden;
    padding-bottom: 60px;
    height: calc(auto + 30px);
}

.categoria span::before {
    content: '';
    display: block;
    margin: 0 auto 20px auto;
    height: 3px;
    width: 60px;
    background-color: $principal;
    transition: all .3s ease;
}
.categoria:hover span::before{
    width: 180px;
}
















/*CLASE MENU BOOTSTRAP4*/
/*---------------------------
/*6. Estilos Color Oscuro
/*---------------------------*/
.text-dark {
  color: $oscuro !important;
}

/*Estilos #navegacion*/

#navegacion{
  background: #191916;

  .container{
    max-width: 100%;
  }

  .navbar-brand{
    margin-right: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    img{
      width: 12rem;
      height: auto;
    }
  }
}


/*Estilos Mmenu.js*/
.mm-navbars_top, .mm-navbar{
  background: #ccc;
}

/*Estilos de los enlaces*/
.mm-menu a, .mm-menu a:active, .mm-menu a:hover, .mm-menu a:link, .mm-menu a:visited {
    color: rgb(51,51,51);
    font-size: 1.1rem;
    font-weight: 400;
}

/*Estilos Viñeta-menu*/
.mm-btn_next:after, .mm-btn_prev:before {
    border: 2px solid rgb(51,51,51);
    border-bottom: none;
    border-right: none;
  
    width: 4px;
    height: 4px;
}

/*Estilos para Mburger*/
.mburger{
  --mb-bar-width:0.35;/*Ancgura de las barras deln boton*/
  --mb-bar-height:4px; /*Altura de las barras de boton*/
  --mb-bar-spacing:5px;/*Separacion de las battas*/

  color: #fff !important;
  height: 50px;
  width: 103px;
  line-height: 0;
  padding: 0 0 0 33px;

  &:hover{
    background: rgba(255, 255, 255, 0.21);;
  }

  b{
    margin-left:-6px;
  }
}

/*Estilos para los botones del encabezad*/
.btn-iconos{
  background: transparent;
  border: none;
  color: #fff;
  padding: 0.5rem;

  &:hover,
  &:focus{
    background:rgba(255,255,255,0.2);
    outline: none;
    color: #fff;
    text-decoration: none
  }
}

.boton-carrito{
  .dropdown-menu{
    box-shadow: 0 0 13px rgba(0,0,0,0.5);
    padding: 1.5rem 1rem;
    margin-top: 1rem;
    &::before{
      content:"";
      position: absolute;
      background: white;
      width: 1.5rem;
      height: 1.5rem;
      right: 1rem;
      top:-0.5rem;
      transform: rotate(45deg);
      border-radius: .2rem;
      box-shadow: -5px -5px 5px rgba(8,8,8,0.18);
    }
  }
}

/*Ocultanos en icono fa-times por defecto*/
.btn-buscar{
  .fa-times{
    display: none;  
  }
  &.boton-buscar-activo .fa-search{
    display: none;
  }

   &.boton-buscar-activo .fa-times{
    display: block;
  }
}



/*---------------------------
/*7. Medias Queries
/*---------------------------*/
@media(min-width: 992px){
  html{
    font-size: 15px;
  }

  /*Estilos de los enlaces del menu-principal para quitar las transciones del boton*/
    #menu-principal1 .navbar-nav .nav-link {
     
      display: flex;
      align-items:  center;
      border-radius: .1rem;
   
    }
   
   #menu-principal1 .navbar-nav .nav-link:hover:after {
      transform: rotateZ(0deg);
    }
   /******/


 
  #navegacion .navbar-brand {
    margin-right: 1.5rem;
    padding: .7rem 0;
    position: static;
    left: auto;
    transform: translateX(0);
  }
  #navegacion .navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
    padding: .9rem;
    transition: all .3s ease;
  }
  #navegacion .navbar-nav .nav-link:hover, #navegacion .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75);
    background: rgba(255,255,255,0.23);
    box-shadow: 0 -5px 0 $principal inset;
    cursor: pointer;
  }

  #menu-principal{
    .dropdown-toggle::after {
    transform: scale(0.7) translateY(3px);
    }

    .dropdown-menu{
      border-radius: 0;
      box-shadow: 0 3px 10px #0404045e;
      border: 0;
      background: #f7f7f7;
      transform: translateY(-2px);
    }

    .dropdown-menu{
      .fa-windows{
        transform: scale(0.8) translateY(1px);
      }
    }
  }
}

@media(min-width: 992px){
   #navegacion{
    .container{
    max-width: 1140px;
    }

    .campo-buscar,
    .boton-buscar{
      border: none;
      background: #3c3c3c;
      color: #eaeaea;
      font-weight: lighter;
    }

    .boton-buscar:hover,
    .boton-buscar:focus{
      background: #bdbdbd;
      color: #fff;
    }

    .campo-buscar::placeholder{
      color:#b9b9b9;
    }
   } 
}












